{% extends 'base.html.twig' %}
 
{% block title %}Accueil{% endblock %}
 
{% block body %}
<div id="menu" class="bg-crypto-light" >
    <h1 style="color: white;" class="font-bold m-3">Crypto Tracker
    <a href="{{ path('ajout') }}"><i class="fas fa-plus fa-1x right-full float-right mr-1" style="color: white;"></i></a>
    <a href="#"><i class="fas fa-pen fa-1x right-full float-right mr-1" id="btn-suppression" style="color: white;"></i></a></h1>
    
</div>
<div id="compteur" class="bg-black h-48 w-full overflow-hidden relative">
    <img src="{{ asset('img/backgroundcompteur.png') }}" class="w-full z-10">
    <h1 class="absolute top-1/2 left-1/2 text-center" style="color: white; transform: translate(-50%, -50%);"><a href="{{ path('graph') }}" style="text-decoration: none; color: white;">
        {% if valorisation > 0 %}
            <b>+ {{ valorisation }} €</b>
        {% elseif valorisation < 0 %}
            <b>{{ valorisation }} €</b>
        {% endif %}
    </a></h1>
</div>
<div class="container">
    <div class="row">
        <div class="col">
        </div>
        <div class="col-10">
            <table class="table table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th style="border-top:0px solid black; padding-left: 9px; text-align: center;"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for crypto in listeCrypto %}
                    <tr>
                        <td style="color: #efefef;" class="font-bold"><img src="{{ asset('img/' ~ crypto.name ~ '.png') }}" class="w-10 float-left"><h3 class="float-left m-1"><b>{{ crypto.name }}<b></h3>
                        {# On regarde pour chaque clés du tableau "listeCryptoName" (qui sont le nom des cryptomonnaie, BTC, ETH, Etc...) et on compare avec le nom de la crypto en cours afin d'afficher le nom complet de la crypto monnaie  #}
                        {% for nomCrypto in resultAPI|keys %}
                            {% if nomCrypto == crypto.name %} 
                                <p class="float-left m-1 font-thin">({{resultAPI[nomCrypto]['name']}})</p>
                            {% endif %}
                        {% endfor %}
                        {# On regarde chaque clés du tableau "listeCurrentAPIPrice" (qui sont le nom des cryptomonnaie, BTC, ETH, Etc...) et ont compare avec le nom de la crypto en cours afin d'afficher si le prix monte ou si le prix descend #}
                        {% for nomCrypto in resultAPI|keys %}
                            {% if nomCrypto == crypto.name %}
                                {% if resultAPI[nomCrypto]['quote']['EUR']['price'] > crypto.price  %}
                                    <i class="fas fa-arrow-up fa-2x float-right" style="color: white;"></i>
                                {% elseif resultAPI[nomCrypto]['quote']['EUR']['price'] < crypto.price %}
                                    <i class="fas fa-arrow-down fa-2x float-right" style="color : white;"></i>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                            <a href="{{ path('suppression-montant', {id: crypto.id}) }}"><i class="fas fa-pen  fa-1x right-full float-center mr-2 mt-2 jshide" id="crypto-suppression" style="color: white;"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col">
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
    $(document).ready( function () {
        $("td").each(function(item) {
            $(".jshide").hide();
        });
        $("#btn-suppression").click(function() {
            $("td").each(function(item) {
            $(".jshide").show();
        });
        });
    } );
</script>
{% endblock %}